*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(104, 103, 103, 0.796);
}
#conteiner{
    width: 1348px;
    margin: 0px auto;
}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
#content{
    float: left;
    width: calc(70%-70px);
    min-height: 100px;
    background: rgba(104, 103, 103, 0.796);
    padding: 13px;
}
aside{
    float: right;
    width: calc(30%-30px);
    min-height: 110px;     
    background:  rgba(104, 103, 103, 0.796);
    padding: 10.5px;
}

footer{
    background-color:white;
    text-align: center;
    
}*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(104, 103, 103, 0.796);
}
#conteiner{
    width: 1348px;
    margin: 0px auto;
}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
#content{
    float: left;
    width: calc(70%-70px);
    min-height: 100px;
    background:white;
    padding: 13px;
}
aside{
    float: right;
    width: calc(30%-30px);
    min-height: 110px;     
    background:  white;
    padding: 10.5px;
}

footer{
    background-color: black;
    text-align: center;
    
}