*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
}
#contenido{
   width: 1100px;
    margin: 0px auto;
    line-height: 35px;
     
}
footer{
    background-color: black;
    text-align: center;
    
}